<div>
    <h2> {{user?.name.first}} {{user?.name.last}} </h2>
    <p> <b>Phone:</b> {{user?.phone}} </p>
    <p> <b>Email:</b> {{user?.email}} </p>
    <p> <b>Company:</b> {{user?.company}} </p>
    <p> <b>Website:</b> {{user?.website}} </p>
    <br/>
    <p> <b>Address:</b> {{user?.address}} </p>
    <p> <b>Registered:</b> {{user?.registered}} </p>
    <br/>
    <p> <b>Eye color:</b> {{user?.eyeColor}} </p>
    <p> <b>Age:</b> {{user?.age}} </p>
    <p> <b>Guid:</b> {{user?.guid}} </p>
    <a routerLink=""> Go back </a>
</div>